// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	background-color: rgb(233, 234, 221);
}

#mainnavbar {
	background-color: rgb(168, 49, 9);
}

a {
	color: black;
}

p {
	color: gray;
}

.modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 )
				image-url("loading.gif")
				50% 50%
				no-repeat;
	background-size: 50px auto;
  }


.nowloading {
	-webkit-animation: pulsate 0.8s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}